.grid-container {
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.grid-item {
    margin-top: 30px;
    max-width: 200px;
    flex: 1 0 200px; /* Grow, don't shrink, base width 200px */
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    align-self: start;
}

.grid-item:hover {
    transform: scale(1.05);
}

.username {
    font-size: 18px;
    margin: 10px 0;
    color: #333;
    padding: 0 10px;
}

.password {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
    padding: 0 10px;
}

/* Actions for editing and removing users */
.user-actions {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}

.user-actions button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db; /* Blue background for Edit User button */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.user-actions button:hover {
    background-color: #2980b9;
}

.remove-user-btn {
    padding: 5px 20px;
    font-size: 14px;
    background-color: #e74c3c; /* Red background for the Remove button */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.remove-user-btn:hover {
    background-color: #c0392b;
}

/* Create User button styling */
.admin-actions {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    margin: 20px 0;
}

.admin-actions button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50; /* Green background for Create User button */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.admin-actions button:hover {
    background-color: #45a049;
}

/* Admin warning styling */
.admin-warning {
    color: #e74c3c;
    font-size: 14px;
    font-weight: bold;
    padding-top: 10px;
}
